<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Bootstrap Admin Theme</title>

  <!-- Bootstrap Core CSS -->
  <link href="{{asset('hds-dashboard-layout/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="{{asset('hds-dashboard-layout/vendor/metisMenu/metisMenu.min.css')}}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{asset('hds-dashboard-layout/dist/css/sb-admin-2.css')}}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{asset('hds-dashboard-layout/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Subir archivo de estados financieros</h3>
        </div>
        <div class="panel-body">
          <form action="{{ path('upload_file') }}" method="post" enctype="multipart/form-data">
            <fieldset>
              <div class="form-group">
                <div class="col-xs-10 text-left">
                  <p> <b>1) </b>Agregue un archivo en PDF con nombre del año correspondiente asi: 2018.pdf</p>
                  <p> <b>2) </b>Para ver el estado financiero actual visitar: <a href="http://www.glaucoma.org.co/estados-financieros" target="_blank">glaucoma.org.co/estados-financieros</a></p>
                  <p> <b>3) </b>Para consultar el estado financiero de un año en específico por ejemplo 2017 visitar: glaucoma.org.co/estados-financieros/2017</p>
                </div>
              </div>
              <div class="form-group">
                <input type="file" id="file" name="file" class="form-control" required/>
              </div>
              <button type="submit" class="btn btn-lg btn-success btn-block">Subir Archivo</button>
              </filedset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="{{asset('hds-dashboard-layout/vendor/jquery/jquery.min.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{asset('hds-dashboard-layout/vendor/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{asset('hds-dashboard-layout/vendor/metisMenu/metisMenu.min.js')}}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{asset('hds-dashboard-layout/dist/js/sb-admin-2.js')}}"></script>

</body>

</html>
