{% extends 'layouts/dashboard.html.twig' %}

{% block body %}
    <h1>Post edit</h1>
    <div class="form-group text-right">
      <a href="{{ path('post_index') }}" class="btn btn-info">Back to the list</a>
    </div>
    {{ form_start(edit_form , { 'enctype':"multipart/form-data"} ) }}
        <div class="form-group">
            {{ form_row(edit_form.menu) }}
            {{ form_row(edit_form.title) }}
            {% if is_granted('ROLE_ADMIN' , 'ROLE_ILUSTRATOR') %}
                {{ form_row(edit_form.image) }}
            {% else %}
                {{ form_row(edit_form.image , { 'attr':{'disabled':'disabled'}}) }}
            {% endif %}
            {{ form_row(edit_form.content) }}
            {{ form_row(edit_form.isActive) }}
            {{ form_row(edit_form.isFavorite) }}
        </div>
        <div class="form-group text-right">
          <input type="submit" value="Edit" class="btn btn-success"/>
        </div>
    {{ form_end(edit_form) }}
    <div class="form-group text-right">
        {{ form_start(delete_form, {'attr': {'id': 'delete_form'}}) }}
            <input type="button" value="Delete" class="btn btn-danger" onclick="
                if (confirm('¿Esta seguro de eliminar este elemento?')){
                   document.getElementById('delete_form').submit();
                }
            ">
        {{ form_end(delete_form) }}
    </div>
    {% block WYSIWYG %}
       <script>
           var editor = CKEDITOR.replace( 'appbundle_post_content' );
           CKFinder.setupCKEditor( editor, 'ckfinder/' );
       </script>
    {% endblock %}
{% endblock %}
